body {
  background-color: #bbb;
 }

 textarea {
   margin-top:  12px;
   margin-bottom:  12px;
 }

#wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}
#articles {
  display: inline-block;
  background-image: url(../images/weegee.jpg );
  background-color: #dee;
  padding: 12px;
  margin: 12px;
}

#articles.img{
height:133;
 width:200;
}

.article {
  /*margin: 10px;*/
}

.new-note {
float: right;
}

#bodytext, #bodytext1 {
  font-size: 14px;
  padding-top: 4px;
  font-weight: 600;
  /*padding-left: 10px;*/
}

.notes {
margin: auto;
border-bottom: 12px;
  width: 90%;
}

#scrape{
  float:left;
  margin-bottom: 10px;
  margin-right:  10px;
}
#weegee{
text-align: center;
  }


textarea, input {
  display: block;
  width: 100%;
  background-color: #eff;
}
input {
  height: 36px;
  font-size: 16px;
}
textarea {
  height: 100px;
  font-size: 12px;
}
